@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide::-webkit-scrollbar{
  scrollbar-width: none;
}

/* @layer base {
  :root {
    --radius: 0.5rem;
  }
} */
